<div class="login">
  <div>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form [formGroup]="validateForm" (submit)="signIn()">
            <h1>Login Form</h1>
            <div>
              <input formControlName="email" type="text" class="form-control" placeholder="Email" />
            </div>
            <div>
              <input formControlName="password" type="password" class="form-control" placeholder="Password" />
            </div>
            <div>
              <button type="submit" class="btn btn-primary btn-sm btn-log" [disabled]="!validateForm.valid">Log in</button>
            </div>
          </form>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">New to site?
                <a href="/login/signup" class="to_register">Create Account </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>
                <h1>SaveBridge Area!</h1>
                <p>©2019 All Rights Reserved. SaveBridge Area! Privacy and Terms</p>
              </div>
            </div>
        </section>
      </div> 
      
    </div>
  </div>
</div>


